.header {
  grid-area: header;
  background-color: #13CE66;
  padding-top: 4px;
  padding-left: 10px;
}

.header img {
  width: 50px;
  margin: auto 0;
}

.login_block {
  float: right;
  padding-top: 10px;
  padding-right: 40px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
