* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 1380px;
  grid-template-areas:
"header header"
"nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 264px 10fr;
  grid-gap: 16px;
  color: #47525E;
  height: 100vh;
}

.app-wrapper-content {
  grid-area: content;
}
