.sidebar {
  color: #fff;
}

.sidebar_header {
  font-size: 50px;
  line-height: 65px;
  margin-bottom: 17px;
}

.sidebar_wrapper {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.sidebar_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.sidebar_item:hover {
  color: #47525E;
  font-weight: bold;
  transition: all .1s ease;
}

.sidebar_item .item_round {
  position: relative;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: #FFC82C;
  margin-bottom: 10px;
  overflow: hidden;
}

.item_round img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 58px;
  height: 58px;
  object-fit: cover;
}

.item_round:hover {
  border: 3px solid #47525E;
  border-radius: 50%;
  transition: all .1s ease;
}

.sidebar_item .item_text {
  font-size: 18px;
  line-height: 23px;
}
